[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8

# 端口与docker-compose里映射端口保持一致
port=3306

#一定要注释掉，mysql所在容器和django所在容器不同IP
# bind-address= localhost

basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock

# 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve
skip-name-resolve 

[client]
port=3306
default-character-set=utf8

[mysql]
no-auto-rehash
default-character-set=utf8
